* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url(../img/natural-pattern.png);
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

a:visited {
  color: green;
}

.container {
  width: 960px;
  margin: 0 auto;
  padding: 15px 0;
}

.float-left {
  float: left;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

/* Header */
header h2, header li {
  color: white;
  text-transform: uppercase;
}

/* Header Image */
.header-image {
  height: 320px;
  position: relative;
  background-image: url(../img/natural-header.jpg);
  background-size: cover;
  border: 10px solid white;
}

header .image-logo {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

header .image-logo img {
  width: 48%;
}

/* Header Nav */
header nav {
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: rgb(94, 94, 94);
}

header nav li {
    display: inline-block;
    padding: 0 10px;
    font-size: 11px;
    font-weight: bold;
}

header nav li a:visited {
  color: white;
}

header nav li:hover {
    background-color: rgb(164, 164, 164);
}

/* Main */
main {
  margin: 10px 0;
}

section {
  width: calc(60% - 30px);
  height: 300px;
  margin: 0 15px;
  background-color: purple;
}

aside {
  width: 20%;
  background-color: white;
  border-radius: 5px;
}

/* Left Column */
aside.col-left {
  padding: 5px;
}

.col-left-logo {
  width: 20%;
  float: left;
}

.col-left-logo i {
  font-size: 30px;
  color: orange;
}

.col-left-head {
  width: 80%;
  float: left;
  margin-bottom: 10px;
  color: rgb(94, 94, 94);
}

.col-left ul {
  list-style: none;
}

.col-left li {
  margin: 10px 0;
}

.col-right-box{
  width: 90%;
  height: 320px;
  margin: 0 auto 30px;
  background-color: lightgreen;
}

/* Footer */
footer {
  width: 100%;
  height: 200px;
  background-color: lightblue;
}
